.footerContainer{
    position: relative;
    width: 100%;
    background-color: #F5DE21;
    gap: 4rem;
}

.gridOverlay{
  position: absolute;
  inset: 0;
  display: grid;
  height: 1000px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(7, 1fr);
  z-index: 0;
  pointer-events: none;
  padding: 3rem;
}

.gridCell{
  border: 1px solid rgba(90, 91, 92, 0.3);
}


.footerTitle{
    text-align: center;
    font-size: 5rem;
    color: #373737;
    font-weight: 800;
    padding-top: 6rem;
    z-index: 1;
}

.socialWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
}

.socialCard{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 800px;
    height: 190px;
    border-radius: 80px;
    background-color: #E2E2E1;
    z-index: 1;
}

.socialText{
  font-size: 3.5rem;
  font-weight: 900;
  color: #373737;
}

.icon{
  color: #373737;
}
@media(max-width: 1440px){
  .footerTitle{
    padding-top: 6rem;
  }
}

@media(max-width: 1024px){

  .gridOverlay{
    padding: 1rem;
    height: 600px;
  }

  .footerTitle{
    font-size: 3rem;
    padding-top: 3rem;
  }

  .socialWrapper{
    padding-top: 1rem;
  }

  .socialCard{
    width: 600px;
    height: 125px;
  }

  .socialText{
    font-size: 2.5rem;
  }
}

@media(max-width: 425px){
  .gridOverlay{
    height: 400px;
  }

  .icon{
    width: 30px;
    height: 30px;
  }

  .socialText{
    font-size: 1rem;
  }

  .socialCard{
    width: 300px;
    height: 70px;
    gap: 1rem;
  }

  .footerTitle{
    font-size: 1.5rem;
    padding-top: 2.5rem;
  }
}

@media(max-width: 375px){

  .gridOverlay{
    height: 350px;
  }

  .icon{
    width: 30px;
    height: 30px;
  }

  .socialText{
    font-size: 0.8rem;
  }

  .socialCard{
    width: 300px;
    height: 60px;
    gap: 1rem;
  }

  .footerTitle{
    font-size: 1rem;
  }

}

@media (max-width: 320px) {
   .socialCard{
    width: 260px;
    height: 60px;
    gap: 1rem;
  }
}