.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background-color:#373737;
    padding-top: 1rem;
}

@media(max-width: 425px){

    .headerContainer img{
        width: 50%;
    }
}